fixtures/slack-broadcast-filter-clean.json
{
  "name": "Slack Customer Broadcast (CLEAN)",
  "nodes": [
    {
      "id": "b1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 200],
      "parameters": {}
    },
    {
      "id": "b2",
      "name": "Get Customers",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [420, 200],
      "parameters": { "operation": "list", "table": "Customers" },
      "credentials": {
        "airtableApi": { "id": "cred-at-cust", "name": "Airtable Customers (rotated 2026-04-01)" }
      },
      "continueOnFail": true
    },
    {
      "id": "b3",
      "name": "Filter Out Unsubscribed",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [640, 200],
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{$json.unsubscribed}}", "value2": false }]
        }
      }
    },
    {
      "id": "b4",
      "name": "Slack Notify Customer",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [860, 200],
      "parameters": { "operation": "post", "channel": "={{$json.slack_channel}}", "text": "New release available" },
      "credentials": {
        "slackApi": { "id": "cred-slack-cust", "name": "Slack Customers (rotated 2026-04-01)" }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "b5",
      "name": "On Error - Sentry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1080, 360],
      "parameters": { "method": "POST", "url": "https://sentry.io/api/0/" },
      "credentials": {
        "httpHeaderAuth": { "id": "cred-sentry", "name": "Sentry Token (rotated 2026-04-12)" }
      },
      "continueOnFail": true
    },
    {
      "id": "b6",
      "name": "Log Broadcast Evidence",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1080, 200],
      "parameters": { "operation": "create", "table": "Send Log" },
      "credentials": {
        "airtableApi": { "id": "cred-at-cust", "name": "Airtable Customers (rotated 2026-04-01)" }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Get Customers", "type": "main", "index": 0 }]] },
    "Get Customers": {
      "main": [[{ "node": "Filter Out Unsubscribed", "type": "main", "index": 0 }]],
      "error": [[{ "node": "On Error - Sentry", "type": "main", "index": 0 }]]
    },
    "Filter Out Unsubscribed": {
      "main": [[{ "node": "Slack Notify Customer", "type": "main", "index": 0 }]]
    },
    "Slack Notify Customer": {
      "main": [[{ "node": "Log Broadcast Evidence", "type": "main", "index": 0 }]],
      "error": [[{ "node": "On Error - Sentry", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {}
}
